body {
  font-family: sans-serif;
}
canvas {
  cursor: crosshair;
}
section {
  margin-bottom: 2em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
label {
  display: block;
  margin-bottom: 1em;
}


.title-section {
  padding-bottom: 0;
}
.title-section h1, 
.title-section h3,
.input-section h3 {
  margin-bottom: 0;
}
.title-section h3,
.input-section p {
  margin-top: 0.3em;
}

#palette label {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 10px;
  overflow: hidden;
  border: 2px solid #808080;
  cursor: pointer;
  color: transparent;
}
#palette label:nth-of-type(1) {
  background-color: #eee;
}
#palette label:nth-of-type(2) {
  background-color: #d6e685;
}
#palette label:nth-of-type(3) {
  background-color: #8cc665;
}
#palette label:nth-of-type(4) {
  background-color: #44a340;
}
#palette label:nth-of-type(5) {
  background-color: #1e6823;
}

[name="inputIndexes"] {
  width: 100%;
  min-height: 150px;
}